*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid #dddd;
    text-align: center;
}
.admin-content{
    padding-top: 50px;
    display: flex;
}
.admin-content-left{
    background-color: #dddddd;
    width: 15%;
    height: 100vh;
    padding: 30px 0 0 12px;
}
.admin-content-left> ul> li> a{
    font-weight: 600;
}
.admin-content-left ul li{
    margin: 7px 0;
}
.admin-content-left ul ul{
    margin-left: 20px;
}

.admin-content-right{
    width: 100%;
    background-color: antiquewhite;
}
.admin-content-right h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color:darksalmon;
}
.admin-content-right table{
    width: 100%;
    padding-left: 20px;
    text-align: center;
}
.admin-content-right table tr th{
    font-size: 21px;
    opacity: 0.5;
}
.admin-content-right table tr td{
    padding: 30px 10px;
}
.admin-content-right table tr td{
    margin-left: 50px;
}
img{
    width: 100px;
}

/* -------------------------------------Add_product------------------------- */
form{
    width: 80%;
}
.text_input{
    padding: 30px 0 0 30px;
}
.text_input input{
    width: 100%;
    height: 30px;
    padding-left: 5px;
}
.head{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
}
#pro_detail{
    height: 80px;
}
#pro_price,#pro_size,#pro_quantity{
    width: 30%;
}
sub{
    font-size: 18px;
}
button{
    cursor: pointer;
    height: 30px;
    width: 70px;
    margin: 30px 0 0 30px;
    color: white;
    border: 1px solid black;
    background-color: #242526;
    border-radius: 10px;
    font-weight: 500;
}
button:hover{
    background-color:darkgray;
    color: black;
    font-weight: 400;
    transition: 0.5s ease-in-out;
}

/* search page */
.find_product{
    padding-left: 30px;
}
.find_product i{
    margin-right: 10px;
}
.find_product input{
    width: 300px;
    height: 50px;
    padding-left: 10px;
}
/* ADMIN PAGE----------------------------------------------- */
.profit{
    display: flex;
    position: relative;
    justify-content: space-around;
    text-align: center;
    height: 100px;
    padding-top: 10px;
}
.profit .order{
    left:0;
    padding-top: 10px
}
.profit .money{
    right: 0;
}
.profit h3{
    font-size: 30px;
    text-decoration:underline;

}
.profit span{
    font-size: 25px;
}
