*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #f5f5f5;
    text-align: center;
    padding-left: 20px;
    font-size: 30px;
    padding-top: 10px;
}

#cart{
    float:right ;
    padding-top: 10px;
    padding-right: 30px;
    font-size: 20px;
    cursor: pointer;
}
#cart > a{
    text-decoration: none;
    color: black;
    font-size: 10px;
}
.hamburger{
    display: none;
}
.bar{
    height: 2px;
    width: 27px;
    background-color:aqua;
    margin: 5px 0px;
}
.home_bar{
    position: relative;
    background-color: #242526;
    padding: 15px 15px;
    margin-top: 0.3cm;
    width: 100%;
    height:max-content;
}
.home_bar ul{
    display: flex;
}
/* .home_bar #close_menu{
    display: none;
} */
.home_bar > ul > li a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.home_bar > ul > li:hover > a {
    background-color: white;
    color: #000000;
    padding: 0.2cm;
    border-radius: 5px;
    transition: 0.3s ease-in;

}
.home_bar .men_menu,
.home_bar .women_menu,
.home_bar li #about_content{
    /* background-color: aqua; */
    background-color: #242526;
    display: block;
    top: 90px;
    padding-left: 10px;
    width: 140px;
    position: absolute;
    height: max-content;
    line-height: 50px;
    z-index: 999;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
}
.home_bar li:hover .men_menu,
.home_bar li:hover .women_menu{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.home_bar li:hover #about_content{
    background-color:#f5f5f5;
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: 60%;
    top:120px;
    left: 20%;
    height:max-content;
}
.home_bar li #about_content img{
    max-width: max-content;
    height: 200px;
    float: right;
}
#about_content p{
    padding-top: 5px;
    line-height: 20px;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
}
.men_menu li:hover a,
.women_menu li:hover a{
    background-color: white;
    color: #000000;
    padding: 0.2cm;
    border-radius: 5px;
    transition: 0.5s ease-in;
}

@media screen and (max-width: 768px) {
    .home_bar .men_menu{
        top:100px;
    }
}
@media screen and (max-width: 700px)  {
    .home_bar--open {
        transform: translate(0) !important;
        transition: 0.5s;
        z-index: 999;
    }
    header{
        all:unset;
        display: block;
        font-size: 30px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background-color:#ececec;
    }
    #cart{
        position:relative;
        float: left;
        visibility: visible;
        font-size: 25px;
        padding: 0 0 0px 10px;
    }
    #logo{
        font-size: 50px;
    }
    .hamburger{
        float: right;
        visibility:visible;
        display: inline;
        cursor: pointer;
        padding-right: 10px;
    }
    .home_bar{
        position: absolute;
        background-color:#242526;
        width: 100%;
        margin-left: 00%;
        height: 100%;
        max-width: 100%;
        z-index: 999;
        transform: translate(-100%);
        transition: 0.5s;
        opacity: 0.9;
    }
    .home_bar #close_menu{
        display: block;
        font-size: 30px;
        color: #fff;
        float: right;
        padding-right: 15px;
        cursor: pointer;
    }
    
    .home_bar ul{
        flex-direction: column;
        padding-top: 30px;
        align-items: center;
        line-height: 90px;
    }
    .home_bar > ul > li {
        color: #000000;
        text-decoration: none;

    }
    .home_bar li:hover .men_menu , 
    .home_bar li:hover .women_menu{
        opacity: 1;
        visibility: hidden; 
    }
    .home_bar li:hover #about_content{
        background-color:#f5f5f5;
        visibility: visible;
        opacity: 1;
        position: absolute;
        left:0;
        width: 100%;
        top:120px;
        height:65%;
        padding: 50px;
    }
    
}
.intro_space{
    width: 3500px;
    max-width: 100vw;
    padding: 0;
    height: 1000px;
    margin: 0.1cm 2cm auto auto;
    position: relative;
    overflow:hidden;
} 
.intro_space .slide_show{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    display: flex;
    width:max-content;
    transition: 1s;
}
.intro_space .slide_show img{
    width:3500px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.buttons{
    position: absolute;
    top: 45%;
    left: 0%;
    padding-right: 5%;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:0;
}
.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    font-weight: 600;
    border: none;
}
#btnNext{
    margin-left: 90%;
}

.dots{
    font-size: 0.7cm;
    position: absolute;
    bottom: 10px;
    color: #fff;
    width:100%;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color:#fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}
.dots li.animation{
    width:30px;
}
@media screen and (max-width: 768px) {
    .intro_space{
        height: 500px;
    }
}
/*------------COLLECTION--------------*/
#collection_block{
    display: block;
    margin: 3cm 1cm 0px 0px;
}

#collection_block #title_collection{
    margin-bottom: 0.5cm;
    font-size: 25px;
    font-weight: 500;
    font-size: 50px;
    opacity: 0.7;
    color: #242526;
}

#collection_block #title_collection a{
    color: #000000;
    display: block;
    text-align: center;
}

#collection_block .content_collection{
    display: flex;
    height: 700px;
    padding: 0;
}
#collection_block .content_collection .men_collection{
    max-width: 700px;
    overflow: hidden;
}

.text_collection_men{
    display: block;
    color: #ececec;
    font-weight: 1000;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    bottom: 50%;
    text-align: center;
}
.text_collection_women{
    display: block;
    color:#000000;
    font-weight: 1000;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    bottom: 50%;
    text-align: center;
}

#collection_block .content_collection .men_collection a:hover img{
    transform: scale(1.1);
}

#collection_block .content_collection .women_collection{
    max-width: 700px;
    overflow: hidden;
}
#collection_block .content_collection .women_collection a:hover img{
    transform: scale(1.1);
}
/*-------------NEW ARRIVAL---------------------------*/
.new_arrival_block{ 
    position: relative;
    margin-top: 100px;
    margin-bottom: 150px;
    max-width: 1600px;
    width: 90%;
}

.new_arrival_block #title_na{
    text-align: center;
    font-size: 45px;
    margin-bottom: 0.5cm;
    opacity: 0.7;
}

.new_arrival_block #title_na a{
    color:#000000;
}
/* Button */
.new_arrival_block i{
    color:#000000;
    position: absolute;
    width: 50px;
    background-color:#ececec;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 21px;
    top:50%;
    cursor: pointer;
    transform: translate(-50%);
    opacity: 0.5;
}
.new_arrival_block #na_left{
   left: 22px;
}
.new_arrival_block > i:last-child{
    right: -70px;
}
.new_arrival_block .list_product{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 70px);
    gap:0px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.new_arrival_block .list_product :where(.item, .img){
    display: flex;
    align-items: center;
    justify-items: center;
}
.new_arrival_block .list_product .item{
    width: 350px;
    list-style: none;
    border-radius:8px ;
    display: block;
    margin: 0 50px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.new_arrival_block .list_product .item div{
    text-align: center;
}
.new_arrival_block .list_product .item .img{
    width: 350px;
    height: 390px;
}

.new_arrival_block .list_product .item .img img{
    width:200px;
    border-radius: 15px;
    height: 80%;
    object-fit: cover;
    overflow: hidden;
} 
.new_arrival_block .item .BtnBuy{
    background-color: #ececec;
    color: #000000;
    outline: none;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8 ;
    display: none;
}
.item:hover .BtnBuy{
    display: block;
}
@media screen and (max-width: 900px) {
    .best_seller_block .list_product{
        grid-auto-columns: calc((100% / 2) - 12px);
    }
}
@media screen and (max-width: 600px) {
    .best_seller_block .list_product{
        grid-auto-columns: 100%;
}
}


/*-------------BEST SELLER------------*/
.container_block{ 
    position: relative;
    margin-top: 50px;
    max-width: 1600px;
    width: 90%;
}

.container_block #title_bs{
    text-align: center;
    font-size: 45px;
    margin-bottom: 0.5cm;
    opacity: 0.7;
}

.container_block #title_bs a{
    color:#000000;
}
/* Button */
.container_block i{
    color:#000000;
    position: absolute;
    width: 50px;
    background-color:#ececec;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 21px;
    top:50%;
    cursor: pointer;
    transform: translate(-50%);
    opacity: 0.5;
}
#bs_left{
   left: 22px;
}
.container_block > i:last-child{
    right: -70px;
}
.container_block .list_product{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 70px);
    gap:0px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.container_block .list_product :where(.item, .img){
    display: flex;
    align-items: center;
    justify-items: center;
}
.container_block .list_product .item{
    width: 350px;
    list-style: none;
    border-radius:8px ;
    display: block;
    margin: 0 50px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.container_block .list_product .item div{
    text-align: center;
}
.container_block .list_product .item .img{
    width: 350px;
    height: 390px;
}

.container_block .list_product .item .img img{
    width:200px;
    border-radius: 15px;
    height: 80%;
    object-fit: cover;
    overflow: hidden;
} 
.container_block .item .BtnBuy{
    background-color: #ececec;
    color: #000000;
    outline: none;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8 ;
    display: none;
}
.item:hover .BtnBuy{
    display: block;
}
@media screen and (max-width: 900px) {
    .best_seller_block .list_product{
        grid-auto-columns: calc((100% / 2) - 12px);
    }
}
@media screen and (max-width: 600px) {
    .best_seller_block .list_product{
        grid-auto-columns: 100%;
}
}

/* TIN TỨC THỜI TRANG */
.news_container{
    max-width: 1600px;
    width: 95%;
    margin-top: 100px;
    margin-bottom: 0;
}
.news_container .title_news{
    display: inline-block;
    text-align:left;
    font-size: 30px;
    opacity: 0.7;
}
.news_container .content_news{
    margin-top: 50px;
    display: flex;
    max-width: 1600px ;
}
.news_container .content_news li{
    max-width: 350px;
}
.news_container .content_news li a img{
    width: 100%;
    height: 250px;
}
.news_container .content_news li h3{
    margin-top: 15px;
}
.news_container .content_news li h3 a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}
.news_container .content_news li a img:hover{
    transform: scale(1.1);
}
.news_container .content_news li a:hover{
    color:saddlebrown;
}
@media screen and (max-width: 900px) {
    .news_container .content_news li:nth-child(3){
        display: none;
        justify-content: space-between;
    }
    .news_container .content_news li a img{
        width: 95%;
        height: 230px;
    } 
}
@media screen and (max-width: 600px) {
    .news_container .content_news li{
        display: none;
    }
    .news_container .content_news li:first-child{
        display: block;
        width: 60%;
        justify-content: center;
    }
    .news_container .content_news li a img{
        width: 95%;
        height: 230px;
    } 
}
footer{
    background-color: #000000;
    margin-top: 100px;
}
.policy{
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
    padding: 20px 30px 0px 0px;
    padding-bottom: 0.5cm;
}

.policy ul{
    display: flex;
}

.policy ul li a{
    color: #ececec;
    text-decoration: none;
}

.contact_container{
    padding-top: 0.3cm;
}
.contact{
    box-sizing: border-box; 
    /* background-color:blueviolet;  */ 
    color:#ececec;
    text-decoration: none;
    display: inline-block;
    width: 8cm;
    margin-top: 10px;
    margin-left: 2cm;
}

.shop_info{
    box-sizing: border-box; 
    /* background-color:brown ; */
    color:#ececec;
    text-decoration: none;
    display: inline-block;
    width: 8cm;
    margin: 10px;
    margin-right: 2cm;
    float: right;
}

#footer_mail{
    margin: 20px 0px 10px 10px;
    text-align: center;
    padding-right: 0.5cm;
}

#footer_mail input{
    border: none;
    border-radius: 5px;
    padding: 2.5px;
    width: 7cm;
}

#footer_mail button{
    border-radius: 5px;
    border: none;
    width: 1.5cm;
    height: 25px;
}

.social_contact{
    box-sizing: border-box;
    /* background-color: blue; */
    color:#ececec;
    text-decoration: none;
    height: auto;
    display:block;
    width: 10cm;
    padding-bottom: 1cm;
}

.social_contact a{
    color: #ececec;
    text-decoration: none;
}

.social_contact span{
    margin-left: 1cm;
}
