*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: antiquewhite;
    width: 90%;
    margin-top: 30px;
    padding-left: 20px;
}
.content{
    position: relative;
}
.content h1{
    font-size: 40px;
    text-align: center;
}
.payment{
    line-height: 50px;
}
.info{
    background-color: aquamarine;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}
.info b{
    font-size: 25px;
    padding-right: 5px;
    margin-top: 100px;
}
.info h2{
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.cart_info .icon_show{
    font-size: 20px;
    margin-left: 70%;
}
.icon_show {
    cursor: pointer;
}
.feedback input{
    width: 500px;
    height: 100px;
    font-size: 17px;
    padding-left: 10px;
}
.money{
    float:right;
    
    font-size: 30px;
}

table{
    display: none;
}
table--open{
    display: block;
}