*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin-top: 30px;
    padding-left: 20px;
}
.content{
    position: relative;
    border: 1px solid black;
    padding-left: 10px;
}
.content h1{
    font-size: 40px;
    text-align: center;
}
.payment{
    line-height: 50px;
}
.info{
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}
.info b{
    font-size: 25px;
    padding-right: 5px;
    margin-top: 100px;
}
.info h2{
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.cart_info .icon_show{
    font-size: 20px;
    margin-left: 70%;
    color:black;
    cursor: pointer;
}
.icon_show:hover{
    color:blueviolet;
}

#cart_table{
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    padding: 20px;
    text-align: center;
}
#cart_table tr th{
    font-size: 20px;
}
.feedback input{
    width: 600px;
    height: 100px;
    font-size: 17px;
    padding-left: 10px;
}
.money{
    margin-left: 58%; 
    font-size: 30px;
}

table{
    display: none;
}
table--open{
    display: block;
}